.cards2{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 5px;
    margin: 50px 0;
    font-family: consolas;
}
.cards2 .box2{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 5px 5px 15px rgb(0,0,0,.5);
}
.cards2 .box2 .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards2 .box2 .face.face1{
    box-sizing: border-box;
    padding: 20px;
}
.cards2 .box2 .face.face1 h2{
    margin: 0;
    padding: 0;
}
.cards2 .box2 .face.face2{
    background: #141414;
    transition: 0.5s;
}
.cards2 .box2:hover .face.face2{
    height: 60px;
}
.cards2 .box2:nth-child(1) .face.face2{
    background: linear-gradient(45deg, rgb(0, 184, 9),rgb(0, 204, 255));
}
.cards2 .box2:nth-child(2) .face.face2{
    background: linear-gradient(45deg,rgb(255, 123, 0),rgb(255, 0, 0));
}
.cards2 .box2:nth-child(3) .face.face2{
    background: linear-gradient(45deg,rgb(255, 0, 221), rgb(0, 173, 196));
}
.cards2 .box2:nth-child(4) .face.face2{
    background: linear-gradient(50deg,rgb(37, 176, 185), rgb(13, 13, 39));
}
.cards2 .box2 .face.face2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
}
.cards2 .box2 .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
.cards2 .box2:hover .face.face2 h2{
    font-size: 2em;
}
.cards1 {
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-family: consolas;
}
.cards1 .box {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px rgb(0,0,0,.5);
    overflow: hidden;
}
.cards1 .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
}
.cards1 .box:hover .imgBx{
    clip-path: circle(80px at center 100px);
    transition-delay: 0s;
}
.cards1 .box .content{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.cards1 .box .content h2{
    margin: 0;
    padding: 0;
}
.cards1 .box .content a {
    text-decoration: none;
    background: #000000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.cards1 .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards1 .box .content h2, 
.cards1 .box .content p,
.cards1 .box .content a{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);
}
.cards1 .box:hover .content h2{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}
.cards1 .box:hover .content p{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.7s;
}
.cards1 .box:hover .content a{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.9s;
}