.btn{
    width:200px;
    height: 100px;
    margin: 50px;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;

    transition-duration: 200ms;
}
#btn3{
    position: relative;
    color:white;
}
#btn3::after{
    position: absolute;
    content:'';
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background-color: blue;
    z-index: -1;
}
#btn3:hover{
    color:white;
}
#btn3:hover::after{
    height:100%;
}
#btn2{
    position: relative;
}
#btn2::before{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width:200px;
    height:3px;
    background-color: mediumseagreen;
}
#btn2::after{
    position: absolute;
    content: "";
    bottom:0;
    right:0;
    widows: 100%;
    height: 3px;
    background-color: aqua;
}
#btn2:hover::before, #btn2:hover::after{
    width:100%;
}
.btn:hover{
    width:400px;
}