
.barra1,.barra2,.barra3,.barra4,.barra5{
    height:50px;
    width:15px;
    background-color: blueviolet;

    animation: animação 1.8s infinite;
}

@keyframes animação{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(2);
    }
    100%{
        transform: scaleY(1);
    }
}
.barra2{
    animation-delay: 0.2s;
}
.barra3{
    animation-delay: 0.4s;
}
.barra4{
    animation-delay: 0.6s;
}
.barra5{
    animation-delay: 0.8s;
}

.btn{
    width:150px;
    height: 80px;
    margin: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: blueviolet;
}
#anim6{
    position: relative;
    border: 2px solid blueviolet;
    transition-duration: 0.4s;
}
#anim6::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent blueviolet transparent transparent;
    transition-duration: 0.4s;
}
#anim6::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent blueviolet transparent;
    transition-duration:0.4s;
}
#text{
    transition-duration: 0.4s;
}
#anim6:hover > #text {
    padding-right: 30px;
}
#anim6:hover::after{
    border-width: 0 40px 40px 0;
}
#anim6:hover::before{
    border-width: 0 0 40px 40px;
}
#anim5{
    position:relative;
}
#anim5::before{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:3px;
    background-color: cyan;
    
    transition-duration: 200ms;
}
#anim5::after{
    position: absolute;
    content: '';
    bottom:0;
    right:0;
    width:0;
    height:3px;
    background-color: cyan;

    transition-delay: 200ms;
    transition-duration: 200ms;
}
#anim5-span::after{
    position: absolute;
    content: '';
    top:0;
    right:0;
    width:3px;
    height:0;
    background-color: cyan;
    transition-delay: 100ms;
    transition-duration: 200ms;
}
#anim5-span::before{
    position: absolute;
    content: '';
    bottom:0;
    left:0;
    width:3px;
    height:0;
    background-color: cyan;
    transition-delay: 200ms;
    transition-duration: 200ms;
}
#anim5:hover>#anim5-span::before,
#anim5:hover>#anim5-span::after{
    height:100%;
}
#anim5:hover::before,
#anim5:hover::after{
    width:100%;
}
#anim4{
    position: relative;
    transition-duration: 400ms;
}
#anim4::before{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:0;
    height:0;
    background-color: yellow;
    z-index: -1;
    transition: 200ms;
}
#anim4::after{
    position: absolute;
    content:'';
    bottom:0;
    right:0;
    width:0;
    height:0;
    background-color: yellowgreen;
    z-index: -1;
    transition: 200ms;
}
#anim4:hover{
    color:black;
}
#anim4:hover::before, #btn4:hover::after{
    width:100%;
    height:100%;
}
#anim3{
    position: relative;
    color:black;
}
#anim3::after{
    position: absolute;
    content:'';
    bottom:0;
    left:0;
    width:100%;
    height:0;
    background-color: blueviolet;
    z-index: -1;
}
#anim3:hover{
    color:white;
}
#anim3:hover::after{
    height:100%;
}
#anim2{
    position:relative;
}
#anim2::before{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:3px;
    background-color: cyan;
}
#anim2::after{
    position: absolute;
    content: '';
    bottom:0;
    right:0;
    width:0;
    height:3px;
    background-color: cyan;
}
#anim2:hover::before,
#anim2:hover::after{
    width:100%;
}
#anim1{
    border: 3px solid rgb(42, 41, 43);
    transition-duration: 200ms;
}
#anim1:hover{
    background-color: red;
    color:white;
}