.btn{
    width:200px;
    height: 100px;
    margin: 50px;
    background-color: black;
    color: white;

    transition-duration: 200ms;
}
#btn4{
    position: relative;
    transition-duration: 400ms;
}
#btn4::before{
    position:absolute;
    content:'';
    top:0;
    left:0;
    width:0;
    height:0;
    background-color: yellow;
    z-index: -1;
    transition: 200ms;
}
#btn4::after{
    position: absolute;
    content:'';
    bottom:0;
    right:0;
    width:0;
    height:0;
    background-color: yellowgreen;
    z-index: -1;
    transition: 200ms;
}
#btn4:hover{
    color:white;
}
#btn4:hover::before, #btn4:hover::after{
    width:100%;
    height:100%;
}
#btn3{
    position: relative;
    color:white;
}
#btn3::after{
    position: absolute;
    content:'';
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background-color: blue;
    z-index: -1;
}
#btn3:hover{
    color:white;
}
#btn3:hover::after{
    height:100%;
}
#btn2{
    border: 3px solid rgb(42, 41, 43);
    transition-duration: 300ms;
}
#btn2:hover{
    background-color: red;
    color:white;
}
#btn2::before{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:100%;
    height:3px;
    background-color: mediumseagreen;
}
#btn2::after{
    position: absolute;
    content: '';
    bottom:0;
    right:0;
    widows: 100%;
    height: 3px;
    background-color: aqua;
}
#btn2:hover::before, #btn2:hover::after{
    width:100%;
}
.btn:hover{
    width:400px;
}